<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <first-home-column-component></first-home-column-component>
    </div>
     <div class="col-md-4">
        <second-home-column-component></second-home-column-component>
     </div>
     <div class="col-md-4">
      <third-home-column-component></third-home-column-component>
     </div>

  </div>

  <br><br><br><br><br><br><br><br>
  <popular-personality-component></popular-personality-component>
</div>

