@media (min-width: 300px) { 
 .personality-div{
     width: 50px;
     margin-right:2px;
     margin-left: 0px;
     border: 1px red;
     padding: 1px;
    }
.personality-img{
        height: 50px;
        width: 45px;
    }
}

@media (min-width: 450px) { 
 .personality-div{
     width: 100px;
     margin-right:10px;
     margin-left: 10px;
    }
.personality-img{
        height: 110px;
        width: 110px;
    }
}


.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	padding:5px;
  	height:50px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
}

.list li{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}

.personalityPanel{
    width: 33%;
}

.panel-body{
    padding: -15px;
}
.rating-row{
    margin:0px;
}
.personText{
    font-size: 10px;
}
.subtitle-color{
    color: dodgerblue;
}

.background-lovescore{
    background-color: lightpink;
}

.background-hatescore{
    background-color: darkslategray;
    color: white;
}

.noPadding{
    padding-left: 0px;
    padding-right: 0px;
}

.noMargin{
    margin-left: 0px;
    margin-right: 0px;
}

.verticalCenterAlign{
    height: 80px;    
    top: 50%;
    bottom: 50%;
    transform: translate(0%, 20%)
}
.px5{
    font-size: 8px;
}

.labelText{
    font-size: 12px;
}
.inlineFloatLeft{
    display: inline; 
    float: left;
}

textarea.ng-invalid.ng-touched,
input.ng-invalid.ng-touched{
    border: 1px solid red;
}