<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<app-header></app-header>
<div class="container">
  
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" >
      <ul class="nav nav-tabs">
        <li role="presentation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="subscribed">Trending</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="subscribed">Subscribed</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="subscribed">All Discussions</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="popularpersonality">Popular Personalities</a>
        </li><li role="presentation"
            routerLinkActive="active">
          <a routerLink="popularpersonality">Popular Personalities</a>
        </li><li role="presentation"
            routerLinkActive="active">
          <a routerLink="popularpersonality">Popular Personalities</a>
        </li><li role="presentation"
            routerLinkActive="active">
          <a routerLink="popularpersonality">Popular Personalities</a>
        </li><li role="presentation"
            routerLinkActive="active">
          <a routerLink="popularpersonality">Popular Personalities</a>
        </li>
        <li role="presentation"
            routerLinkActive="active" style="display:none">
          <a routerLink="topicName">TopicName</a>
        </li>

        
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


