.personText{
    font-size: 10px;
}
.subtitle-color{
    color: dodgerblue;
}

.background-lovescore{
    background-color: lightpink;
}

.background-hatescore{
    background-color: darkslategray;
    color: white;
}