<div class="row">
    <div class="col-lg-6 col-xs-4">
      <div class="form-group">
        <label for="topicTitle" class="labelText">Title</label>
        <input type="text" class="form-control" formControlName="topicTitle" id="topicTitle" required>
      </div>
      <div class="form-group">
        <label for="name" class="labelText">Name</label>
        <input type="text" class="form-control" formControlName="topicDetails" id="topicDetails" required>
      </div>
      <div class="form-group">
        <label for="name" class="labelText">Topic Tags</label>
        <input type="text" class="form-control" formControlName="topicTags" id="topicTags" required>
      </div>
      <div class="form-group">
        <label for="popularName" class="labelText">Video Link</label>
        <input type="text" class="form-control" formControlName="videoLink" id="videoLink" required>
      </div>
      
    </div>
</div>